/* :root {
    --color-white: #fff;
    --color-black: #000;
    --color-pink: #ff2576;
    --color-half-black: rgba(0, 0, 0, 0.5);

    --font-family-main: 'Irish Grover', cursive;

    --bgc-gradient-main: linear-gradient(to left top, #35170c, #644535, #967963, #cab096, #ffebcd);

    --transition: .4s;
}

body {
    margin: 0;
    padding: 0;
    background-image: var(--bgc-gradient-main);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    font-family: var(--font-family-main);
}

:global(.page__title) {
    font-size: 40px;
    text-align: center;
    color: var(--color-white);
    text-shadow: 1px 1px 2px var(--color-pink);
}

:global(.page__container) {
    display: flex;
    justify-content: center;
    margin: auto;
} */

* {
    box-sizing: border-box;
}