:root {
    --color-white: #fff;
    --color-black: #000;
    --color-half-black: rgba(0, 0, 0, 0.5);
    --font-family-main: 'Roboto', sans-serif;


    --transition: .3s;

    --theme-train-card: linear-gradient(180deg, #0099ae, #00bf82 40%, #fff 0%);
    --theme-play-card: linear-gradient(180deg, #fc6262, #ffd86f 40%, #fff 0%);
    --theme-default-card: var(--theme-train-card);

    --theme-train-switcher: linear-gradient(180deg, #0099ae 0%, #00bf82 100%);
    --theme-play-switcher: linear-gradient(180deg, #fc6262 0%, #ffd86f 100%);
    --theme-default-switcher: var(--theme-train-switcher);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-main);
}

/* :global(.page__title) {
    font-size: 40px;
    text-align: center;
    color: var(--color-white);
    text-shadow: 1px 1px 2px var(--color-pink);
}

/* :global(.main__container) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
} */
