.play__rating {
    text-align: center;
    margin: auto;
    position: relative;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.play__rating_img {
    width: 64px;
    height: 64px;
}

@media (max-width: 799px) {
  
    .play__rating {
      width: 320px;
    }
  
    .play__rating_img {
      width: 32px;
      height: 32px;
    }
  
}