.card {
    width: 298px;
    height: 248px;
    margin: 20px 25px;
    border: 1px solid #ccc;
    position: relative;
    perspective: 1000px;
    border: 1px solid rgb(211, 189, 189);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.3s;
}

.card__play {
    height: 200px;
}

.card:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 40%);
}

.card__disabled:hover {
    box-shadow: 0;
}

.card__front,
.card__back {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    background-color: #fff;
}

.card__img {
    width: 298px;
    height: 200px;
}

.card__front {
    background-size: cover;
}

.card__back {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card__footer {
    width: 298px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__word {
    font-size: 26px;
}

.card__arrows {
    width: 30px;
}

button {
    background: none;
    padding: 0;
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
    right: 16px;
}