.main__container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end__text {
    color: red;
    font-size: 30px;
    margin-top: 20px;
}