.efk__footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 96%;
}
  
.footer__link_github,
.footer__year {
    font-size: 30px;
    text-decoration: none;
    color: #000;
}
  
.footer__logo {
    width: 100%;
}

.footer__link {
    width: 100px;
    text-decoration: none;
}

@media (max-width: 799px) {

    .footer__link_github,
    .footer__year {
      font-size: 20px;
    }

    .footer__link {
        width: 80px;
    }
  
}